<!DOCTYPE html>
<html>
<head>
    <title>Registration Form</title>

    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">

    <h2>Registration Form</h2>

    <p>Register to create your account</p>

    <form action="/submit" method="POST">

        <input type="text" name="name" placeholder="Enter Name" required>

        <input type="email" name="email" placeholder="Enter Email" required>

        <input type="password" name="password" placeholder="Enter Password" required>
          <input type="checkbox" id="showPassword">
          <label for="showPassword">Show Password</label>
         <p id="passwordMessage"></p>

        <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
          
        <p id="matchMessage"></p>

        <button type="submit">Register</button>

    </form>

    <p id="error" style="color:red;"></p>

    <script>
const form = document.querySelector("form");

form.addEventListener("submit", function(e){

    const password =
    document.querySelector('input[name="password"]').value;

    const confirmPassword =
    document.querySelector('input[name="confirmPassword"]').value;

    if(password !== confirmPassword){
        e.preventDefault();
        document.getElementById("error").innerText =
        "Passwords do not match";
    }

});
</script>


</div>

<script>
const password = document.querySelector('input[name="password"]');
const confirmPassword = document.querySelector('input[name="confirmPassword"]');

const passwordMessage = document.getElementById("passwordMessage");
const matchMessage = document.getElementById("matchMessage");

password.addEventListener("input", () => {
    if(password.value.length < 6){
        passwordMessage.innerText = "Weak Password ❌";
        passwordMessage.style.color = "red";
    } else {
        passwordMessage.innerText = "Strong Password ✅";
        passwordMessage.style.color = "green";
    }
});

confirmPassword.addEventListener("input", () => {
    if(password.value === confirmPassword.value){
        matchMessage.innerText = "Passwords Match ✅";
        matchMessage.style.color = "green";
    } else {
        matchMessage.innerText = "Passwords Do Not Match ❌";
        matchMessage.style.color = "red";
    }
});

const showPassword =
document.getElementById("showPassword");

showPassword.addEventListener("change", () => {

    if(showPassword.checked){
        password.type = "text";
        confirmPassword.type = "text";
    }else{
        password.type = "password";
        confirmPassword.type = "password";
    }

});
</script>

</body>
</html>